@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap');

/* CSS RESET */
body, h1, h2, ul, li, a, p {
    margin: 0;
    padding: 0;
}

* body {
    font-family: 'Inter', sans-serif;
    color: #222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}